
/* リセットおまじない--------------------------------- */

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
/* --------------------------------------------------- */

.slide-items__wrap {
    width: 80%;
    height: 30%;
    margin: 0 auto;
  }

.slide-items__wrap img{
    width: 100%;
    height: 100%;
  }

  #text-slider-container{
    position:relative;
    margin-top: 30px;
}
#text-slider-box{
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    border-radius: 10px;
    background: #FFEB3B;        
}

/* テキストの位置調整 */
#text-slider .txt{
    text-align: center;
    margin: 35px 0;
}

#text-slider{
  width: 80%;
  margin: 0 auto;
}