<html lang="ja">
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title> Document </title>
  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- css -->
	<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/style_pc.css">
	<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/css/style_sp.css">
</head>
<body>
  <div class="slide-items__wrap">
    <ul class="slide-items">
      <li class="slide-items__item">
        <img src="../static/img/aqrIcYonB.jpeg" alt="">
      </li>
      <li class="slide-items__item">
        <img src="../static/img/i9JfUHQfOY.jpeg" alt="">
      </li>
      <li class="slide-items__item">
        <img src="../static/img/IQVFVH0ajag.jpeg" alt="">
      </li>
    </ul>
  </div>
  <div id="text-slider-container">
    <div id="text-slider-box"></div>
    <div id="text-slider">
        <p class="txt">
            一つ目のスライドのテキストが入ります<br>
            一つ目のスライドのテキストが入ります<br>
            一つ目のスライドのテキストが入ります<br>
        </p>
        <p class="txt">
            二つ目のスライドのテキストが入ります<br>
            二つ目のスライドのテキストが入ります<br>
            二つ目のスライドのテキストが入ります<br>
        </p>
        <p class="txt">
            三つ目のスライドのテキストが入ります<br>
            三つ目のスライドのテキストが入ります<br>
            三つ目のスライドのテキストが入ります<br>
        </p>
    </div>
  <script src="../static/js/common.js"></script>
</body>
</html>